body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(248, 210, 223);
}

.card-container {
    margin: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 400px; 
    width: 250px; 
    border-radius: 5%;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: relative;
}

.card button {
    font-size: medium;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
    margin-bottom: -10px;
    position: relative;
}

.card button:hover {
    background-color: #0056b3;
}
